html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/block.css")
    body
        #main__container
            #block__number Block #31
            table(style="margin-top:30px")
                tr
                    td.block__info #[strong Hash]
                    td.block__info C278EC5A69C34AACE42773E41B1163E6CE40C906F2A14F807D39D1B2A1C2DFF5
                tr
                    td.block__info #[strong Previous Hash]
                    td.block__info D04B98F48E8F8BCC15C6AE5AC050801CD6DCFD428FB5F9E65C4E16E7807340FA
                tr
                    td.block__info #[strong Merkle Root ]
                    td.block__info C278EC5A69C34AACE42773E41B1163E6CE40C906F2A14F807D39D1B2A1C2DFF5
                tr
                    td.block__info #[strong Difficulty ]
                    td.block__info A1C2DFF5
                tr
                    td.block__info #[strong Timestamp ]
                    td.block__info C278EC5A
                tr
                    td.block__info #[strong Coinbase Text ]
                    td.block__info Hello World
                tr
                    td &nbsp;
                tr
                    td.block__info #[strong Fees ]
                    td.block__info 100.0101 FLAP
                tr
                    td.block__info #[strong Reward ]
                    td.block__info 20.0
            .block__header Transaction List
            table(style="margin-top: 30px;")
                tr
                    td

                    td
                    td