extends ./layout

block Body
    table#block__table
        thead
            th Height
            th Hash
            th Time
            th # Inputs
            th # Outputs
            th Output (FLAP)
        tr(v-for="block in blocks")
            td {{block.height}}
            td {{block.hash.substr(0,8)}}
            td {{new Date(block.time * 1000).toLocaleTimeString()}}
            td {{block.input_count}}
            td {{block.output_count}}
            td {{block.fees.toFixed(8)}}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js")
    script(src="/js/index.js")