
@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');

body {
    text-align: center;
}

a{
    color: #1E8BC3;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
}
#main__container {
    margin: auto;
    text-align: left;
    width: 80%;
    max-width: 1000px;
    padding-top: 100px;
}


#block__number {
    font-family: Titillium Web;
    font-size: 30px;
    font-weight: 600;
}
.block__info--header {
    font-weight: 800;
}
.block__info {
    font-family: Courier;
    font-size: 13px;
    margin-top: 20px;
    padding-right: 20px;
}

.block__header {
    font-family: Titillium Web;
    font-size: 20px;
    margin-top: 50px;
}

#block__transactions {
    margin-top: 30px;
    font-family: Courier;
    font-weight: 600;
    font-size: 12px;
    border-spacing: 0px 2px;
}
.transaction {
    background-color: #EEE;
    margin-top: 10px;
}
.transaction__info {
    padding: 10px;
}